body {
  background: url('./background-image.jpg') no-repeat center center fixed;
  background-attachment: scroll;
  background
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.App-header {
  display: flex;
  justify-content: space-between;
}

.App-logo {
  height: 15vh;
  margin: 2vh 2vh 2vh 2vh;
}

.App-logo:hover {
  height: 15vh;
  margin: 2vh 2vh 2vh 2vh;
  opacity: 0.7;
  color: purple;
}

.App-intro {
  font-size: large;
}

.nav-container {
  margin: 2vh 2vh 2vh 2vh;
}

.nav-links {
  padding: 2vh 2vh 2vh 2vh;
  color: black;
}

.nav-links:hover {
  color: purple;
  background-color: black;
}

.main-intro {
  margin: 18% 0 25% 3%;
  text-align: center;
}

.my-name, .my-handle, .nav-links, .about-title, .project-title {
  color: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.my-name {
  font-size: 10vh;
  margin-top: 0vh;
  margin-bottom: -2.5vh;
}

.my-handle {
  font-size: 3vh;
  margin-top: -2vh;
}

.about-container {
  background-color: #fcfcfc;
  font-size: 20px;
  text-align: left;
  padding: 10vh;
}

.about-content {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.about-title {
  font-size: 5vh;
  margin-top: 0;
}

/* PortfolioPage */
.portfolio-container {
  background-color: #1C1C1C;
  padding: 10vh 10vh 10vh 10vh;
}

.portfolio-item {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 0;
  padding-bottom: 2vh;
}

.project-title {
  color: white;
  font-size: 30px;
  margin: 0 0 0 0;
}

.project-links a {
  color: white;
  text-decoration: none;
}

.project-links a:hover {
  color: purple;
  text-decoration: none;
}

.project-links, .project-description, .project-technologies {
  padding: 0vh 3vh 0vh 3vh;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.project-links, .project-technologies {
  padding: 0vh 3vh 0vh 3vh;
}

.project-description {
  padding: 0vh 3vh 0vh 5vh;
}
