body {
  background-attachment: scroll;
  background
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

header {
  background: url('./images/background-image.jpg') no-repeat center center fixed;
  height: 100vh;
  width: 100vw;
}

.App-header {
  display: flex;
  justify-content: flex-end;
}

.App-logo, .App-logo-purple {
  height: 8em;
  margin: 2vh 2vh 2vh 2vh;
  position: absolute;
  left: 0;
  -webkit-filter: drop-shadow(0 0 5px white);
  filter: drop-shadow(0 0 5px white);
}

.App-logo-purple {
  z-index: 0;
}

.App-logo {
  z-index: 1;
}

.App-logo:hover {
  height: 8em;
  margin: 2vh 2vh 2vh 2vh;
  opacity: 0;
}

.App-intro {
  font-size: large;
}

.nav-container {
  margin: 2vh 2vh 2vh 2vh;
  padding: 0 2vh 2vh 2vh;
  background-color: 0 0 15px white;
  position: absolute;
  width: 30vw;
  display: flex;
  justify-content: space-around;
}

.outer-nav-links {
  height: 2em;
  width: 8em;
}

.nav-links {
  padding: 2vh 2vh 2vh 2vh;
  color: black;
  text-shadow: 0 0 10px white;
  text-decoration: none;
  transition: all .25s ease-out;
}

.nav-links:hover {
  color: #FFA800;
  background-color: rgba(28,28,28,.6);
  text-shadow: 0 0 0;
  letter-spacing: 2px;
  font-weight: 100;
  overflow: hidden;
  width: 8em;
}

.main-intro {
  margin: 18% 0 25% 3%;
  text-align: center;
}

.my-name, .my-handle, .nav-links, .about-title, .project-title {
  color: black;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.my-name {
  font-size: 11vh;
  margin-top: 0vh;
  text-shadow: 0 0 20px white;
}

.my-handle {
  font-size: 3vh;
  margin-top: 12vh;
  text-shadow: 0 0 10px white;
}

.my-name, .my-handle, .contact-icons {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}


/* contact-icons */
.contact-icons {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.contact-container {
  height: 10vh;
  width: 20vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-container > a {
  position: relative;
  height: 4em;
  width: 4em;
  -webkit-filter: drop-shadow(0 0 10px white);
  filter: drop-shadow(0 0 10px white);
  transition: all .25s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container > a > img {
  height: 3em;
  transition: all .25s ease-out;
}

.contact-container > a > img:hover {
  position: relative;
  height: 4em;
  overflow: hidden;
}


/* AboutSection */
.about-container {
  background-color: #fcfcfc;
  font-size: 20px;
  text-align: left;
  padding: 10vh;
  display: flex;
}

.about-content {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
}

.about-title {
  font-size: 5vh;
  margin-top: 0;
  color: #421835;
}

.my-photo {
  height: 20em;
  width: auto;
  border: 5px solid #421835;
  margin-left: 5vw;
}


/* PortfolioPage */
.portfolio-container {
  background-color: #1C1C1C;
  padding: 10vh 10vh 8vh 10vh;
}

.portfolio-item {
  color: white;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2vh;
  display: flex;
  align-items: center;
  height: 38vh;
}

.umigo-logo, .ghq-logo, .waitticket-logo, .roomie-logo {
  height: 18em;
  width: 18em;
  background-color: #FCFCFC;
  border-radius: 50%;
  margin-right: 5em;
  border: 5px solid #FFA800;
}

.project-title {
  color: #FFA800;
  font-size: 30px;
  margin: 0 0 0 0;
}

.project-links a {
  color: white;
  text-decoration: none;
}

.project-links a:hover {
  color: #baa1c9;
  text-decoration: none;
}

.project-links, .project-description, .project-technologies {
  padding: 0vh 3vh 0vh 3vh;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  letter-spacing: .5px;
}

.project-links, .project-technologies {
  padding: 0vh 3vh 0vh 3vh;
}

.project-description {
  padding: 0vh 3vh 0vh 5vh;
}
